@charset "UTF-8";
* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  margin: 0;
}

#main-wrap {
  animation: homeAppearance 2s 3s forwards;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav--image {
  height: 38px;
  width: 220px;
}
.nav--link {
  position: absolute;
  left: 20px;
  visibility: visible;
}
.nav--link__i {
  font-size: 25px;
}
.nav--link__hidden {
  visibility: hidden;
}

/* Loader */
.loading {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: #fff;
  opacity: 1;
  animation: loader 3s forwards;
}
.loading--scanner {
  border-radius: 50%;
  width: 10px;
  height: 200px;
  animation: scanner 1.5s alternate-reverse 2 ease both;
  background: linear-gradient(#9356DC, #99E2D0, #FF79DA);
}

.loading--scanner:nth-child(2) {
  animation-delay: 0.2s;
}

.loading--scanner:nth-child(3) {
  animation-delay: 0.4s;
}

.loading--scanner:nth-child(4) {
  animation-delay: 0.6s;
}

.loading--scanner:nth-child(5) {
  animation-delay: 0.8s;
}

/* Form & explore*/
.background {
  background-color: #eaeaeaff;
}

.form {
  display: flex;
  padding: 1.5rem 1rem;
  justify-content: center;
  box-shadow: inset 0px 8px 8px -3px #c6c6c6;
}
.form--label {
  font-size: 20px;
  cursor: pointer;
  padding-left: 1rem;
}
.form--searchline {
  border-color: transparent;
  background: #eaeaeaff;
  padding-left: 0.8rem;
  font-size: 20px;
  font-weight: 600;
  width: 13rem;
  opacity: 0.7;
}
.form--searchline:focus {
  outline: none;
}
.form--searchline::placeholder {
  color: #000;
}

.explore {
  background-color: #f6f6f6ff;
  padding: 4rem 0;
}
.explore--description {
  text-align: center;
}
.explore--description p {
  width: 70%;
}
.explore--description__bold {
  width: 70%;
  font-size: 30px;
  margin: 0 auto;
  font-weight: 600;
  padding-bottom: 1rem;
}
.explore--description__thin {
  font-size: 20px;
  margin: 0 auto;
  opacity: 0.8;
}

/* Functionnement */
#explanation {
  padding: 3rem 0;
}
#explanation h2 {
  font-size: 30px;
  margin-top: 0;
  padding-left: 2rem;
}
#explanation ol {
  counter-reset: li;
  list-style: none;
  padding: 0 10px 0 40px;
}
@media screen and (min-width: 992px) {
  #explanation ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
  }
  #explanation ol li {
    width: 32%;
  }
}

/* Diners cards emplacement */
#diners {
  background-color: #f6f6f6ff;
  padding: 3rem 0;
}
#diners h2 {
  padding-left: 2rem;
  font-size: 30px;
}
#diners a {
  background-color: #fff;
  display: flex;
  border-radius: 25px;
  margin: 20px auto;
  width: 90%;
}
@media screen and (min-width: 992px) {
  #diners a {
    width: 47%;
    margin: 20px 3%;
  }
}
@media screen and (min-width: 992px) {
  #diners .desktop-transition {
    display: flex;
    justify-content: space-between;
  }
}

img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6ff;
  border-radius: 50px 50px 0 0;
  padding: 2rem 0;
  width: 100%;
  margin-top: -3rem;
}
.menu--title {
  font-family: shrikhand;
  padding: 0 1.5rem;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu--title__heart {
  display: flex;
  font-size: 35px;
  font-weight: 100;
  color: #000000;
}
.menu--title__heart:hover {
  animation: heart 2000ms ease forwards;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .menu .desktop-transition {
    display: flex;
    margin: 0 2%;
    justify-content: space-between;
  }
  .menu .desktop-transition article {
    width: 50%;
  }
  .menu .desktop-center {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 1rem;
  }
  .menu .dessert-parts {
    display: flex;
    margin: 0 1rem;
  }
  .menu .dessert-parts .menu-btn {
    width: 32%;
  }
}

.caps {
  text-transform: uppercase;
  font-size: 24px;
  padding-left: 1rem;
  margin: 1.5rem 0 0.5rem 0;
}
@media screen and (min-width: 992px) {
  .caps {
    padding: 0;
  }
}

.green-line {
  width: 3rem;
  padding: 0 1.8rem;
  border-top: 4px solid #99E2D0;
  margin: 0 0 0 1rem;
}
@media screen and (min-width: 992px) {
  .green-line {
    width: 100%;
    margin: 0;
  }
}

/* Bouton gradient */
.btn-round {
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: 3px 3px 3px #c7c7c7ff;
  font-size: 20px;
  padding: 1em 2em;
  border-radius: 50px;
  border: none;
  color: #FFF;
}
.btn-round--center {
  display: flex;
  margin: 3rem auto;
}
.btn-round:hover {
  filter: brightness(1.1);
  box-shadow: 3px 3px 3px #979797;
  cursor: pointer;
}

.explanation-btn {
  box-shadow: 3px 3px 3px #ecececff;
  display: flex;
  padding: 0.5rem 1.5rem;
  align-items: center;
  width: 95%;
  font-size: 1.3rem;
  font-weight: 600;
  background: #f6f6f6ff;
  border: transparent;
  border-radius: 20px;
  margin: 1em 0;
}
.explanation-btn:hover {
  box-shadow: 3px 3px 3px #c7c7c7ff;
  cursor: pointer;
}
.explanation-btn--number {
  background-color: #9356DC;
  padding: 0.2rem 0.6rem;
  border-radius: 25px;
  margin-left: -38px;
  color: #FFF;
}
.explanation-btn--icon {
  padding: 0 1.5rem 0 1.5rem;
  font-size: 24px;
  color: #7e7e7eff;
}
.explanation-btn:hover {
  background-color: #f5edffff;
}
.explanation-btn:hover i {
  color: #9356DC;
}

/* Boutons menu restaurants */
.menu-btn {
  width: 95%;
  border-radius: 20px;
  margin: 0 auto 1rem auto;
  background-color: #FFF;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 3px #c7c7c7ff;
  animation: proggressiveAppearance 1.5s forwards;
  opacity: 0;
}
.menu-btn .text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
}
.menu-btn--description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-btn .bold {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  margin: 0 1.5rem 0 0.3rem;
  transition: 0.5s ease;
  /* Pour que le prix soit décalé lors de l'animation du slide */
}
.menu-btn h2 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 22px;
}
.menu-btn p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-btn i {
  font-size: 30px;
}
.menu-btn .check {
  position: absolute;
  background: #99E2D0;
  right: 0px;
  width: 5rem;
  height: 7rem;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: 0.5s ease;
  /* Pour l'animation du slide */
}
.menu-btn:hover {
  box-shadow: 3px 3px 3px #979797;
}
.menu-btn:hover .check {
  transform: translateX(0%);
  transition: 0.5s ease;
}
.menu-btn:hover .check i {
  animation: rotateCheck 0.7s 1 both;
}
.menu-btn:hover .bold {
  padding-right: 5rem;
}

.menu-btn:nth-child(2) {
  animation-delay: 0.3s;
}

.menu-btn:nth-child(3) {
  animation-delay: 0.6s;
}

.menu-btn:nth-child(4) {
  animation-delay: 0.9s;
}

.fig {
  margin: 0;
  height: 310px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px #ecececff;
  width: 100%;
  border-radius: 25px;
  position: relative;
}
.fig:hover {
  box-shadow: 3px 3px 3px #c7c7c7ff;
  cursor: pointer;
}
.fig img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.fig--caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.fig--caption h3 {
  margin: 0;
  font-size: 22px;
}
.fig--caption p {
  padding-top: 0.2rem;
  margin: 0;
  font-size: 20px;
}
.fig--caption__heart {
  display: flex;
  font-size: 32px;
  font-weight: 100;
}
.fig--caption__heart:hover {
  animation: heart 2000ms ease forwards;
  cursor: pointer;
}
.fig--new {
  display: flex;
  color: #088b6bff;
  background-color: #99E2D0;
  padding: 0.5em 1em;
  position: absolute;
  right: 1rem;
  border-radius: 3px;
  animation: alternate fadeOut 1s infinite ease;
}
.fig--new__hidden {
  display: none;
}

/* Filling the hearts */
@keyframes heart {
  0% {
    font-weight: 800;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
  }
  100% {
    font-weight: 800;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* Menu slide check */
@keyframes rotateCheck {
  0% {
    transform: rotate(0deg);
    margin: 0;
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    margin: 0 2rem;
    transform: rotate(360deg);
  }
}
/* Loader animations */
@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes scanner {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes homeAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Menu animation */
@keyframes proggressiveAppearance {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Cards New Fading anim */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
footer {
  height: 260px;
  background-color: #353535ff;
  color: #fff;
}
footer h3 {
  font-family: shrikhand;
  padding: 2rem 0 0 2.5rem;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}
@media screen and (min-width: 992px) {
  footer h3 {
    font-size: 34px;
  }
}
@media screen and (min-width: 992px) {
  footer #footer-text {
    text-align: center;
  }
}

.footer-list {
  list-style: none;
}
.footer-list li {
  padding-bottom: 0.2rem;
}
.footer-list--a {
  color: #fff;
}
.footer-list--a__i {
  width: 14px;
  padding-right: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
