/* Bouton gradient */
.btn-round{
    &--center{
        display: flex;
        margin: 3rem auto;
    }
    @include gradient(to right bottom, $secondary-color,$primary-color);
    box-shadow: 3px 3px 3px #c7c7c7ff;
    font-size: 20px;
    padding: 1em 2em;
    border-radius: 50px;
    border: none;
    color: #FFF;
    &:hover{
       filter: brightness(1.1);
       box-shadow: 3px 3px 3px #979797;
       cursor: pointer;
    }
}   

//Partie Fonctionnement
.explanation-btn{
    @include shadow;
    display: flex;
    padding: 0.5rem 1.5rem;
    align-items: center;
    width: 95%;
    font-size: 1.3rem;
    font-weight: 600;
    background: #f6f6f6ff;
    border: transparent;
    border-radius: 20px;
    margin: 1em 0;
    &--number{
        background-color: $primary-color;
        padding: 0.2rem 0.6rem;
        border-radius: 25px;
        margin-left: -38px;
        color: #FFF;
    }
    &--icon{
        padding: 0 1.5rem 0 1.5rem;
        font-size: 24px;
        color: #7e7e7eff;
    }
    &:hover{
        background-color: #f5edffff;
        i{
            color: $primary-color;
        }  
    }
}


/* Boutons menu restaurants */
.menu-btn{
    width: 95%;
    border-radius: 20px;
    margin: 0 auto 1rem auto;
    background-color: #FFF;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px #c7c7c7ff;
    animation: proggressiveAppearance 1.5s forwards;
    opacity: 0;
    .text-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 1.5rem;
    }
    &--description{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 1rem;
        @include ellipsisOverflow
        
    }
    .bold{
        display: flex;
        justify-content: center;
        align-items:flex-end;
        @include bold;
        margin: 0 1.5rem 0 0.3rem;
        transition: 0.5s ease;           /* Pour que le prix soit décalé lors de l'animation du slide */
    }

    h2{
        margin: 0;
        @include ellipsisOverflow;
        font-size: 22px;
    }
    p{
        margin-top: 0.5rem;
        margin-bottom: 0;
        @include ellipsisOverflow
    }
    i{
        font-size: 30px;
    }

    .check{
        position: absolute;
        background: $tertiary-color;
        right: 0px;
        width: 5rem;
        height: 7rem;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s ease;               /* Pour l'animation du slide */
        
    }
    &:hover{
        box-shadow: 3px 3px 3px #979797;
    }
    &:hover .check{
        transform: translateX(0%);
        transition: 0.5s ease;
        
        i{
            animation: rotateCheck 0.7s 1 both
        }
    }
    &:hover .bold{
        padding-right: 5rem;
    }
}

.menu-btn:nth-child(2){
    animation-delay: 0.3s;
}
.menu-btn:nth-child(3){
    animation-delay: 0.6s;
}
.menu-btn:nth-child(4){
    animation-delay: 0.9s;
}

