*{
    box-sizing: border-box;
    
}
body{
    font-family: roboto, sans-serif;
    font-size: 16px;
    margin: 0;
}

h1,h2,h3,h4{
    font-family: shrikhand, sans sans-serif;
    font-weight: 500;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}