#main-wrap{
    max-width: 768px
}
h1{
    margin: 0;
}
.background{
    @include background-clr(#eaeaeaff);
    
}
.form{
    display: flex;
    justify-content: center;
    padding: 1rem;
    opacity: 0.7;
    &--label{
        font-size: 20px;
    }
    &--searchline{
        border-color: transparent;
        background: #eaeaeaff;
        padding-left: 1rem;
        font-size: 20px;
        font-weight: 600;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: #000;
        }
    }
}

.explore{
    @include background-clr(#f6f6f6ff);
    padding: 4rem 0;
    &--description{
        text-align: center;
        p{
            @include width(70%);
        }
        &__bold{
            font-size: 30px;
            margin: 0 auto;
            font-weight: 600;
            padding-bottom: 1rem;
        }
        &__thin{
            font-size: 20px;
            margin: 0 auto;
            opacity: 0.8;
        }
    }
}

#diners{
    @include background-clr(#f6f6f6ff);
    padding: 3rem 0;;
    h2{
        padding-left: 2rem;
    }
    a{
        @include background-clr(#fff);
        display: flex;
        border-radius: 25px;
        margin: 20px auto;
        width: 90%;
    }
}

#explanation{
    padding: 3rem 0;
    h2{
        font-size: 24px;
        margin-top: 0;
        padding-left: 2rem;
    }
    ol{
        counter-reset: li;
        list-style: none;
    }
}

