@keyframes heart {
    0%   {
        font-weight: 800;
        background: -webkit-linear-gradient($primary-color,$secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        opacity: 0.1;
    }   
    100% {
        font-weight: 800;
        background: -webkit-linear-gradient($primary-color,$secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } 
}