@keyframes heart {
    0%   {
        font-weight: 800;
        background: -webkit-linear-gradient($primary-color,$secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        opacity: 0.1;
    }   
    100% {
        font-weight: 800;
        background: -webkit-linear-gradient($primary-color,$secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } 
}

@keyframes greenSlideIn {
    0%{
        width: 0%;
        height: 109px;
        transform: scale(1);
    }
    100%{
        width: 7rem;
        height: 109px;
        transform: scale(1);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes rotateCheck{
    0%{
        font-size: 0px;
        transform: rotate(0deg);
        margin: 0;
    }
    50%{
        font-size: 2.5rem;
        transform: rotate(0deg);
    }
    100%{
        margin: 0 2rem;
        transform: rotate(360deg);
        font-size: 2.5rem;
    }
}