@mixin background-clr($color){
    background: $color;
}

@mixin shadow{
    box-shadow: 3px 3px 3px #ecececff;
    &:hover{
        box-shadow: 3px 3px 3px #c7c7c7ff;
        cursor: pointer;
    }
}

@mixin scannerGradient1{
    background-color: linear-gradient(45deg, $primary-color, $secondary-color);
}
@mixin scannerGradient2{
    background-color: linear-gradient(45deg, $secondary-color, $tertiary-color);
}
@mixin scannerGradient3{
    background-color: linear-gradient(45deg, $tertiary-color, $primary-color);
}

@mixin ellipsisOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin gradientHeart{
    &:hover{
        animation: heart 2000ms ease forwards;
        cursor: pointer;
    }
}

@mixin gradient($direction,$color-start,$color-stop){
    background: linear-gradient($direction,$color-start, $color-stop);
}

@mixin width ($width){
    width: $width;
}

@mixin display($display,$direction){
    display: $display;
    flex-direction: $direction;
}

@mixin shrik{
    font-family: shrikhand;
}

@mixin bold{
    font-weight: bold;
}