@mixin background-clr($color){
    background: $color;
}

@mixin shadow{
    box-shadow: 3px 3px 3px #ecececff;
    &:hover{
        box-shadow: 3px 3px 3px #c7c7c7ff;
    }
}

@mixin gradient($direction,$color-start,$color-stop){
    background: linear-gradient($direction,$color-start, $color-stop);
}

@mixin width ($width){
    width: $width;
}

@mixin display($display,$direction){
    display: $display;
    flex-direction: $direction;
}

@mixin shrik{
    font-family: shrikhand;
}

@mixin bold{
    font-weight: bold;
}