.fig{
    margin: 0;
    height: 310px;
    @include display(flex, column);
    @include shadow;
    width: 100%;
    border-radius: 25px;
    position: relative;
    img{
        height: 230px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }
    &--caption{
        @include display(flex, row);
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        h3{
            margin: 0;
            font-size: 22px;
        }
        p{
            padding-top: 0.2rem;
            margin: 0;
            font-size: 20px;
        }

        &__heart{
            display: flex;
            font-size: 32px;
            font-weight: 100;
            @include gradientHeart; // Animation du coeur
        }
    }
    &--new{
        display: flex;
        color: #088b6bff;
        background-color: $tertiary-color;
        padding: 0.5em 1em;
        position: absolute;
        right: 1rem;
        border-radius: 3px;
        animation: alternate fadeOut 1s infinite ease; //Animation disparition Nouveau
        &__hidden{
            display: none;
        }
    }
}
