footer{
    height: 260px;
    background-color: #353535ff;
    color: #fff;
    h3{
        @include shrik;
        padding: 2rem 0 0 2.5rem;
        font-weight: 500;
        font-size: 22px;
        margin: 0;
        @media screen and (min-width: map-get($breakpoints, desktop)){
            font-size: 34px;
        }
    }
    @media screen and (min-width: map-get($breakpoints, desktop)){
        #footer-text{
            text-align: center;
        }
    }
}

.footer-list{
    list-style: none;
    li{
        padding-bottom: 0.2rem;
    }
    &--a{
        color: #fff;
        &__i{
            width: 14px;
            padding-right: 1.5rem;
        }
    }
}