.nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    
    &--image{
        height: 38px;
        width: 220px;
    }
    
    &--link{
        position: absolute;
        left: 20px;
        visibility: visible;
        &__i{
            font-size: 25px;
        }
        &__hidden{
            visibility: hidden;
        }
    } 
}